<div class="d-flex justify-content-center align-items-center container" >
    <div class="row">
        <div class="center-form-block" id="formLogin">
            <h4 class="text-center mb-3"><span>Get your</span> SPHIX<span>!</span></h4>
            <p class="text-center themetextTitle mb-5" style="border-bottom: 2px solid #999;"></p>
            <h4 class="text-center mb-3 h4-color">Login</h4>
            <div class="form-group mb-4 required-field">
                <div class="row">
                    <div class="col-md-12">
                        <input type="email" class="form-control" placeholder="Username" id="txtUserName" message="Username is a required field." required />
                        <span class="required">*</span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-4 required-field">
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Password" id="txtPassword" message="Password is a required field." required />
                        <span class="required">*</span>
                       
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnLogin" class="btn btn-light">
                                <i class="fa fa-lock"></i>
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-bottom-border">
                <hr />
            </div>
            <div class="form-group p-white-color">
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Need an Account? <a href="#" class="themetextTitle" id="btnShowSignUp">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group p-white-color">
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Did you forget your password? <a href="#" id="btnShowForgotPassword" class="themetextTitle ">Get a new one</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
<style>
    .body-content{
        background-color:transparent !important;
    }
</style>



