@{
    ViewData["Title"] = "Example app";
}
    <div class="d-flex justify-content-center align-items-center container">
        <div class="row">
            <p style="z-index: 999;color: #fff;background: black;padding: 10px;">@ViewData["Message"]</p>
        </div>
        </div>
