<fieldset>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal fade" tabindex="-3" id="modelRegisterOpenOfficeHours">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content" style="background-color:#6f6c6c">

                            <div class="modal-body">
                                <div class="form-group" id="divRegisterOpenOfficeHours">
                                   
                                </div>
                            </div>
                         
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>
