<fieldset>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal fade" tabindex="-3" id="modelEventDetail">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="form-group" id="divEventDetail">
                                    Loading...
                                </div>
                            </div>
                            <div class="form-submit-btn modal-footer">
                                    <button type="button" class="btn btn-success" onclick="JoinCommunityEventMeeting();">SIGN UP</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideCummunityModel();">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>