<fieldset>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal fade" tabindex="-3" id="modelSingleEvent">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                Live Event
                            </div>
                            <div class="modal-body">
                                <div class="form-group" id="divSingleEvent">
                                    Loading...
                                </div>
                            </div>
                            <div class="form-submit-btn modal-footer">
                                <button type="button" class="btn btn-success" onclick="AddUpdateSingleEvent();">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal fade" tabindex="-3" id="modelSaveSingleEvent">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Congratulations!</h2>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <h4>You have published a new live event</h4>
                                    <p>As the creator, you are responsible for it’s success. To better prepare the other participants and observers, we recommend using the comment sections in the community forums to communicate with other community members. </p>
                                    <p>Also please reach out directly to Sphix with any questions, comments, or suggestions you may have. We strive to make your experience a great one. </p>
                                </div>
                            </div>
                            <div class="form-submit-btn modal-footer">
                              
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>