<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h5>Welcome to Sphix! </h5>
        <p>We are thrilled that you are about to join the Sphix Network.</p>
        <p>Your account details.</p>
        <p>Name {1}</p>
        <p>Email {2}</p>
        <p><b>How Your Membership Works</b></p>
        <p>Unlimited Exploration</p>
        <p>Observe, Participate, or create new conversations that you care about Connect with new interesting people</p>
        <p>By clicking on the following link, you are confirming your email address.</p>
        <a href="{0}">Confirm Email Address</a>
        <p>To cancel memebership Sphix Network, go to Your Account settings and click on <b>“Cancel Membership”</b></p>
    </div>
</body>
</html>