<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h5>Hello {0}</h5>
        <p>Thank you for scheduling and running an open office hours session.  We hope that you and the other members of the group found it both professionally and personally rewarding.</p>
        <p>Your meeting detail is : <b>{1}</b></p>
        <p>If you would like to keep this session active and invite the same people next week, please let us know by clicking on the following activation link below. An automated RSVP will be generated and sent to each member of the group which you were meeting with today.</p>
        <p>Please keep in mind that although each member will be automatically included in the RSVP list, those members will have the option of the unregistering at any given time. </p>
        <a href="{2}">Activate Session for next week</a>
        <p>{3}</p>
    </div>
</body>
</html>