<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h4>Hi {1} </h4>
        <h5>Reset password </h5>
        <p>Please use the following link to reset your password for the Sphix Network account {2}</p>
        <b> <a href="{0}">Reset Password</a></b>
        <p>To cancel your Sphix Network memebership, go to Your Account settings and click on <b>“Cancel Membership”</b></p>
        <p>Thanks,</p>
        <p>The Sphix Network account team</p>
    </div>
</body>
</html>