<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <!--User first and last name-->
        <h5>Dear  #Name,</h5>
        <!--Description-->
        <p>We hope you enjoyed the team meeting this week. As a reminder this meeting is set as a weekly meeting. If you would like to close or cancel this team, click on the link below.</p>
        <p><a href="#Link">I wish to cancel my team meeting.</a></p>
        <p>Please note that you cannot reconnect or rejoin this group once it is cancelled.</p>
        <p>Also, if you decide to cancel, the other members of the team will not be notified of the cancellation, though canceled meetings will be reflected in their personal calendars.</p>
        <p>#Footer</p>
    </div>
</body>
</html>