<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <!--User first and last name-->
        <h5>Dear  #Name,</h5>
        <!--Description-->
        <p>This is a friendly reminder that teacher network meetings will be tomorrow. There are still teams with open spots for you to join.</p>
        <p>You can go to <a href="#Link">Sphix.io/#Title</a> network to find and reserve your spot with a group of fellow teachers with the goal of developing a network of fellow teachers who are working together to share information and become better educators.</p>
        <p>Also, dont forget to RSVP for upcoming live events. New live events are being added daily to enable you to connect directly into the topics you care about.</p>
        <p>#Footer</p>
    </div>
</body>
</html>