<div class="d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12 center-form-block"  style="margin-top:0px;width:869px;background:transparent">
            <div class="form-group mb-4 ">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="text-center mb-3" style="text-align:left !important">My Community Groups</h4>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="form-group mb-4 ">
                <div class="container">
                    <br />
                    <div style="margin:0 auto;overflow-y:auto">
                        <table id="tblCommunitiesList" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Community Group Title</th>
                                    <th>IsPublish</th>
                                    <th>Last Update</th>
                                    <th>Edit</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div>
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="modal fade" tabindex="-2" id="updateCommunityGroup"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <h2 id="divCommunityGroupSubTitle"> Events</h2>
                                    
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body" id="divCommunityGroup" >
                                    Loading....
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>
</div>

<script>


        $(document).ready(function ()
        {
            $("#tblCommunitiesList").DataTable({
                "processing": false, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                "order": [[0, 'desc']],
                //"lengthMenu": [10, 25, 50],
                "ajax": {
                    "url": "/ManageCommunityGroups//MyCommunitiesGroupsList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,

                    /* true or false */
                    }

                    ],
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": true },
                    { "data": "title", "name": "title" },
                    { "data": "isPublish", "name": "isPublish", "autoWidth": true },
                    { "data": "postDate", "name": "postDate", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta)
                        {
                             return "<button class='btn btn-info btn-sm' onclick=EditCommunityGroup('" + full.id + "'); ><i class='far fa-edit'></i> Edit</button>";
                        }, 'orderable': false
                    },
                    {
                        "render": function (data, type, full, meta)
                        {
                             return "<button class='btn btn-info btn-sm' onclick=ShowEventsList('" + full.id + "'); ><i class='far fa-calendar-alt'></i> Events</button> "+"<button  class='btn btn-info btn-sm' onclick=ShowArticlesList('" + full.id + "'); ><i class='fas fa-book'></i> Articles</button>";
                        }, 'orderable': false
                    },
                ]

            });
        });


    function EditCommunityGroup(Id)
        {
            if (confirm("Are you sure you want to edit ...?"))
            {
                
                //Delete(CustomerID);
                window.location = 'ManageCommunityGroups/Edit/' + Id;
               //LoadSection('ManageCommunityGroups/EditCommunityGroup?Id=' + Id, 'Edit Community Group');
            }
            else
            {
                return false;
            }
    }
    function ShowEventsList(Id) {
        $('#divCommunityGroupSubTitle').html('Events');
                $("#divCommunityGroup").html('Loading...');
                $("#divCommunityGroup").load('ManageCommunityGroups/MyCommunityGroupEvents?Id=' + Id);
                $('#updateCommunityGroup').modal('toggle');
        
    }
    function ShowArticlesList(Id) {
        $('#divCommunityGroupSubTitle').html('Articles');
        $("#divCommunityGroup").html('Loading...');
        $("#divCommunityGroup").load('ManageCommunityGroups/MyCommunityGroupArticles?Id=' + Id);
        $('#updateCommunityGroup').modal('toggle');
    }
   @*function Delete(CustomerID)
    {
        var url = '@Url.Content("~/")' + "DemoGrid/Delete";

            $.post(url, { ID: CustomerID }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#example').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Something Went Wrong!");
                    }
                });
    }*@

</script> 