<p>Max # of attendees for open hours describes the maximum size of the participating group. The system will automatically assign 2 or more attendees to each group.</p>
<p>Example 1:</p>
<p>If a total of 12 people sign up in advance of the meeting(reserve a seat), then 3 groups are created and 4 people are assigned to each group.</p>
<p>Example 2:</p>
<p>If a total of 9 people sing up in advance of the meeting, then 3 groups are created. One group will have 4 attendees, group #2 will have 3 attendees and group #3 will have 2 attendees.</p>