
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboad-outer">
    <div class="container" id="divContainer">
        
    </div>
</div>
<style>
    #feedback {
        font-size: 1.4em;
    }
    .dashboad-outer{
        background-color:transparent !important;
    }
    #selectable .ui-selecting {
        background: #FECA40;
    }

    #selectable .ui-selected {
        background: #E68F07;
        color: white;
    }

    #selectable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 99%;
    }

        #selectable li {
            padding-left: 0.3em;
            /*font-size: 1.4em;*/
            height: 30px; 
            border-radius: 3px;
            line-height: 28px;
            cursor: pointer;
        }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="~/js/CommunityGroups/CommunityGroupsSteps.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            LoadSection('/ManageCommunityGroups/MyCommunitiesGroups', 'My Community  Groups');
        });

    </script>
}

