
@{
    ViewData["Title"] = "Communities For Good";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboad-outer">
    <div id="divContainer">

    </div>
</div>
<input type="hidden" id="hdnCommunityGroupId" value="0" />
<input type="hidden" id="hdnCommuntyGroupUrl" value="0" />
<style>
    #feedback {
        font-size: 1.4em;
    }

    #selectable .ui-selecting {
        background: #FECA40;
    }

    #selectable .ui-selected {
        background: #E68F07;
        color: white;
    }

    #selectable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 99%;
    }

        #selectable li {
            padding-left: 0.3em;
            /*font-size: 1.4em;*/
            height: 30px;
            border-radius: 3px;
            line-height: 28px;
            cursor: pointer;
        }

    .navigation-icon .fa-location-arrow {
        transform: rotate(45deg);
    }
      .body-content {
        height:100vh; 
    }
</style>
<partial name="_joinThisCommunityPopUp.cshtml" />
<script>
    function ShowDetail(Id, url) {
        if (Id == 0) {
            return;
        }
        $('#hdnCommunityGroupId').val(Id);
        $('#hdnCommuntyGroupUrl').val(url);
        $("#divCommunityDetail").load('/CommunityGroupSubSections/CommunityGroupDetail?Id=' + Id);
        $('#modelCommunityDetail').modal('toggle');
    }
</script>
@section Scripts{
    <script>
        $(document).ready(function () {
            LoadSection('/CommunitiesForGood/CommunityTypes', 'Communities For Good');
        });

    </script>
}

